.App {
  text-align: center;
}
.contentHeading{
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.heading{
  font-weight: 600;
}
.activity{
  color:rgba(126, 123, 123, 0.8);
  cursor: pointer;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .App{
    max-width: 50%;
    margin: auto;
    padding: 10px;
    border:1px solid rgba(11, 3, 3, 0.8);
    border-radius: 10px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
